<h1>Maps#show</h1>
<p>Look at my Map!!!</p>

<div id="map"></div>

<script>
$(window).ready(function)(){
  <% @points.each do |point| %>
L.marker([<%= point.lat %>, <%= point.lng %>])
.addTo(window.map)
.bindPopup("<b><%=point.name %></b>");
<% end %>
});
</script>
